*
!.gitignore
!README.md
!LICENSE
!CITATION.cff
!.zenodo.json
!requirements.txt
!config/
!config/**
!scripts/
!scripts/**
!results/
!results/**
!figures/
!figures/**
!environment/
!environment/**
**/__pycache__/
**/*.pyc
